{% extends 'base.html' %}

{% block content %}

    <h3><a href="{% url 'accounts:user_profile' post.user.id %}">{{ post.user.username }} </a>- {{ post.updated|date:"Y-M-D"}} </h3><br>

    <p>{{ post.body}}</p><hr/>

    {% if request.user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send">
        </form>
    {% else %}
        <p class="alert alert-danger">only logged-in users can comment</p>
    {% endif %}

    <hr/>

    {% for comment in comments %}
        <div class="card text-bg-secondary text-white col-md-4">
            <p class="card-header">comment by {{ comment.user }} - {{comment.created|timesince}}</p>
            <p class="card-body">{{ comment.body }}</p>
        </div><br>
    {% empty %}
        <p>No comment yet</p>
    {% endfor %}
    <hr class="col-md-4"/>

    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update Post</a>
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete Post</a>
    {% endif %}


{% endblock %}