{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">{{ user.username }}</h1>
    <h3 align="center">
        {% if request.user.id == user.id %}
            <a href="{% url 'accounts:edit_user' %}" class="btn btn-primary" style="bg-$teal-400">Edit Profile</a><br>
            <a href="{% url 'home:post_create' %}" class="btn btn-info" style="bg-$teal-400">Create new post</a>
        {% endif %}
    </h3>

    <h3 class="text-center">
        {% if request.user.id != user.id and not is_following %}
            <a href="{% url 'accounts:user_follow' user.id %}" class="btn btn-primary">Follow</a>
        {% elif request.user.id != user.id and is_following %}
            <a href="{% url 'accounts:user_unfollow' user.id %}" class="btn btn-primary">Unfollow</a>
        {% endif %}
    </h3><br>

    <div class="card">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.body|truncatewords:8}}</a>
        {% endfor %}
    </div><br>



{% endblock %}